{% extends "base.html" %}
{% block title %}Your cart{% endblock %}

{% block content %}
<div class="container">
    <h1>Your Shopping Cart</h1>

    <div class="article-list">

   

    {% for item in cart_items %}
    <div class="article-item">
        <p>{{ item.article.article_name }} ({{ item.quantity }})</p>
        <p>Price: ${{ item.article.price }}</p>
        <a href="{% url 'store:remove_from_cart' item.id %}">Remove</a>
    </div>
    {% empty %}
    <p>Your cart is empty.</p>
    {% endfor %}

    </div>

    <p>Total Price: ${{ total_price }}</p>

    <a href="{% url 'store:index' %}">Continue Shopping</a>
</div>
{% endblock %}
