body{
    background-color: snow;
}

.buttons{
    display: flex;
}

button a{
    text-decoration: none;
    color: black;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.articleCard{
    display: flex;
}

.articleCard h3, .articleCard p{
    margin: 0;
    padding: 0;

}

.articleCard a{
    margin-left: 20px;
    text-decoration: none;
}